
<a class="twitter-timeline"  href="https://twitter.com/{{ settings.twitter-name }}" data-widget-id="{{ settings.twitter-id }}" data-tweet-limit="{% if settings.twitter-no%}{{ settings.twitter-no }}{% else %}0{% endif %}">Tweets by @FashionStore53</a>           
