.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel{
	position:relative;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-stage-outer{
	overflow:hidden;
}
.owl-carousel .owl-item img{
  transform-style: preserve-3d;
}
.team-listing .owl-stage .item{
	position:relative;
}
.team-listing .owl-stage .item .member-short-data{
	position:absolute;
	border-top:solid 1px #d5d5d6;
	background:url(../images/box-bg2.png) repeat;
	bottom:0;
	width:100%;
}
.team-listing .owl-stage .item .member-short-data .title{
	float:left;
	display:inline-block;
	padding:6px 0 10px 14px;
}
.team-listing .owl-stage .item .member-short-data .title strong{
	font-weight:700;
	font-size:10px;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0 0 3px;
}
.team-listing .owl-stage .item .member-short-data .title i{
	font-size:9px;
	font-family: 'Crimson Text';
	display:block;
	color:#fff;
	letter-spacing:1px;
}
.team-listing .owl-stage .item .member-short-data .title2{
	font-size:16px;
	color:#fff;
	float:right;
	display:inline-block;
	letter-spacing:3px;
	padding:11px 12px 0 0;
}
.owl-controls .owl-prev,
.owl-controls .owl-next{
	position:absolute;
	width:53px;
	height:53px;
	top:50%;
	margin-top:-26px;
	text-indent:-9999px;
	cursor:pointer;
}
.owl-controls .owl-prev{
	left:-70px;
}
.owl-controls .owl-next{
	right:-70px;
}